
* { margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    list-style: none;    
    box-sizing: border-box;
}

:root {
    --color__primario: #ffffff;
    --color__secundario: #000000;
    --color__terciario: #c7c7c7;
    --color__cuarto: #aabf2c;
   
}


img{
    width: 100%;
    height: auto;
}


/*header*/


.navegador{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--color__cuarto);
    padding: 1em 3em;  
}


.navegador .item{
   font-weight: 600;
}


/**Logo navegador**/
.navegador .logo{
    width: 120px;
    height: auto;
}    

/**hipervinculos navegador Recetas Nutrición Familia Nosotros**/

.navegador .containersito{
    display: flex;
}    

.navegador .containersito .item{
    margin: 0em 1.25em;
}

.navegador .item a{
    color: var(--color__primario);
    font-size: 1.2em;
}

.navegador .item a:hover{
    color: var(--color__primario);
    text-decoration: underline;
}



/*Boton - header*/

.navegador .boton {
    margin-top: 0.75em;
    align-self: center;
    flex: none;
}

.navegador .boton a{
    background-color: var(--color__primario);
    border-radius: 40px;
    padding: 0.5em 1em;
    color: var(--color__secundario);
    font-size: 1.2em;
}



.navegador .boton a:hover{
    box-shadow: 11px 10px 14px 0px #7272728a;
    transition: 0.5s;
    background-color: var(--color__primario);
    color: var(--color__secundario);
    text-decoration: none;
}


/*parte 1, Marca*/

.container_marca {
    display: flex;
    justify-content: space-between;
    padding: 5em 4.3em;  
    background-color: var(--color__primario);
    
}
.container_marca .explicacion{
    flex-basis: 60%;

}


.container_marca .explicacion h1{
    color: var(--color__cuarto);
    font-size: 4em;
    margin-bottom: 1em;
    font-weight: 900;
}

.container_marca .explicacion p{
    font-size: 1.3em;
    font-weight: 400;

}

.container_marca .logo{
    width: 400px;
    align-self: center;
}



/*Paleta de color*/

.container_colores {
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f8ee;
    align-items: center;
    justify-content: space-between;
    padding: 5em 4.3em; 
   
}


.container_colores .title{
   
    margin-bottom: 2.5em;
    color: var(--color__cuarto);
    font-size: 1.9em;
    font-weight: 700;
    flex-basis: 100%;
    justify-content: center;
}

.container_colores .color{
    padding-bottom: 1em;
    display: flex;  
    color: var(--color__secundario);
    font-size: 1.5em;  
}


.container_colores .color h3 {
    font-size: 1em;
    padding-bottom: 4em; 
    display: flex;
}

.container_colores .color h4 {
    color: var(--color__secundario);
    font-size: 1em;
    font-weight: 350;
    
    
}


/*background de colores */


.container_colores .contenedor__bebe-uno {

    background-color: var(--color__cuarto);
    margin: 1em;
    border-radius: 10px;
    padding: 1.5em;
    border: 1px solid var(--color__terciario);
    flex-basis: 28%;
    
}

.container_colores .contenedor__bebe-dos {
    background-color: #95d1f2;
    margin:1em;
    border-radius: 10px;
    padding: 1.5em;
    border: 1px solid var(--color__terciario);
    flex-basis: 28%;
}

.container_colores .contenedor__bebe-tres {
    background-color: #f9c606;
    margin: 1em;
    border-radius: 10px;
    padding: 1.5em;
    border: 1px solid var(--color__terciario);
    flex-basis: 28%;
}

.container_colores .contenedor__bebe-cuatro {
    background-color: #b192c4;
    margin: 1em;
    border-radius: 10px;
    padding: 1.5em;
    border: 1px solid var(--color__terciario);
    flex-basis: 28%;
}


.container_colores .contenedor__bebe-cinco {
    background-color: #f04c3e;
    margin: 1em;
    border-radius: 10px;
    padding: 1.5em;
    border: 1px solid var(--color__terciario);
    flex-basis: 28%;
}

.container_colores .contenedor__bebe-seis {
    background-color: #00b2bf;
    margin: 1em;
    border-radius: 10px;
    padding: 1.5em;
    border: 1px solid var(--color__terciario);
    flex-basis: 28%;
}


/*SECCIÓN FOTTER*/


/*footers uno y dos*/


.container2 {
    display: flex;
    flex-direction: column;
}

.container2 .item{
    margin-top: .6em;
}

.container2 .footer_uno{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 3.1em;
}

.container2 .footer_dos {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
}

/*FOOTER UNO*/
.footer h3{
    padding-right: 1em;
    margin-bottom: 3.2em;
    font-size: 2em;
}

.footer  {
    display: flex;
    justify-content:space-between;
    background-color: var(--color__cuarto);
    color: var(--color__primario);
    padding: 1.25em 4.2em;
    width: 100%;
}

/*redes*/
.footer .redess {
    flex-basis: 30%;
    font-size: 1.9em;
    display: flex;
    justify-content: flex-start;
}


.footer .item1 a{
    margin-right: 1em;
}   



/*otros titulos */

.footer h4 {
    padding-right: 1em;
    font-size: 1.4em;
    
}

.footer .item a{
    color: var(--color__secundario);
    margin-right: 1.25em;
    margin-left: .2em;
    font-size: 1.1em;
}   

.footer .item a:hover{
    margin-right: 1.25em;
    text-decoration: underline;
}   



/*FOOTER DOS*/


.container2 .footer_dos{
    display: flex;
    justify-content: space-between;
    margin-top: 1.8em;
    margin-bottom: 3.7em;
    align-items: center;
    
    
}


.container2 .footer_dos .registro a{
    padding: .6em; 
    color: var(--color__cuarto);
    background-color: var(--color__primario);
    border-radius: 40px;
    font-weight: 600;
    font-size: 1.3em;
    
}

.container2 .footer_dos .registro a:hover{
    transition: 0.8s;
    background-color: var(--color__terciario);
    color: var(--color__secundario);
    
}

.container2 .footer_dos .logo_footer{
    width: 10%; 
}



 /* ##Dispositivo = Tablets, Ipads (horizontal) 768px to 1024px */
 @media (min-width: 768px) and (max-width: 1024px)  {
  

    /*PROPIEDADES TABLET Y IPADS*/
        
        .container{
            padding:  1em 2em;  
        }


         /*navegador*/
        .navegador .logo{
            width: 80px;
        }
        

        .navegador .boton a{
            font-size: 1em;
        }
        
        .navegador .item a{;
            font-size: 1em;
        }

        /*marca*/
        .container_marca {
            padding: 3em 2em;  
        }

        .container_marca .explicacion p{
            font-size: 1.3em;
        }

        .container_marca .logo{
            width: 250px;
            align-self: center;
        }
 
        /*colores*/
        .container_colores .contenedor__bebe-uno {
           flex-basis: 28%; 
        }
        
        .container_colores .contenedor__bebe-dos {
            flex-basis: 28%;
        }
        
        .container_colores .contenedor__bebe-tres {
           flex-basis: 28%;
        }
        
        .container_colores .contenedor__bebe-cuatro {
             flex-basis: 28%;
        }
        
        
        .container_colores .contenedor__bebe-cinco {
             flex-basis: 28%;
        }
        
        .container_colores .contenedor__bebe-seis {
             flex-basis: 28%;
        }


        .container_colores {
            padding: 1.5em; 
        }

        /*footer*/

        .footer  {
            padding:  1.5em;
        }
        .footer h3{
            font-size: 2em;
            
        }

        .footer .item a {
            font-size: 1.1em;
        }

        .footer h4{
            font-size: 1.2em;
        }
    
        .footer .redess {
            font-size: 1.2em;
        }

        .container2 .footer_dos .logo_footer{
            width: 150px; 
         }

         .container2 .footer_dos .registro a{
            font-size: 1.5em;
         }

        

    
 }

/* ##Dispositivo = Tablets, Mobiles de cpx a 767px */
@media (min-width: 481px) and (max-width: 767px) {


        /*navegador*/
        .navegador .containersito .item{
            font-size:0em;
        }
        

        .navegador .logo{
            width: 80px;
        }

        .navegador .boton a{
            font-size: 1em;
        }
        
       


        /*marca*/
        .container_marca .explicacion h1{
            font-size: 3em;
        }

        
        .container_marca {
            padding: 3em 2em;  
            flex-direction:column
        }

        .container_marca .logo{
            width: 250px;
            align-self: center;
            padding: 1em;
        }

        .container_marca .explicacion p{
            font-size: .95em;
        }
    


        /*colores*/

        .container_colores {
            padding: .3em; 
        }

        .container_colores .color h4{
            font-size: 1em;
        }

        .container_colores .title{
            font-size: 1.5em;
            padding-left:1em;
        }
        .container_colores .contenedor__bebe-uno {
        flex-basis: 100%;
        }

        .container_colores .contenedor__bebe-dos {
            flex-basis: 100%;
        }

        .container_colores .contenedor__bebe-tres {
        flex-basis: 100%;
        }

        .container_colores .contenedor__bebe-cuatro {
            flex-basis: 100%;
        }


        .container_colores .contenedor__bebe-cinco {
            flex-basis: 100%;
        }

        .container_colores .contenedor__bebe-seis {
            flex-basis: 100%;
        }


        /*footer */
        .footer  {
            padding:  1.5em;
            }

        .footer h3{   
            margin-bottom: 1em;
            font-size: 1.8em;
        
            
            }
            .footer .redess {
                margin-bottom: 1em;
                font-size: 1.3em;
            }
            
            .footer h4{
                margin-right:5em;
                margin-top: 3em;
                font-size: 1em;
            }

            .footer .item a{
                font-size: 1em;
            }  
    
 
            .container2 .footer_uno{
                display: flex;
                justify-content: flex-star;
                flex-wrap: wrap;
                margin-top: 2em;
            }

            .container2 .footer_dos .logo_footer{
                width: 150px;
            }

            .container2 .footer_dos .registro a{
                padding: .5em; 
                font-size:1.4em;
            }

}

/* ##Dispositivo = Smartphones de 320px a 479px */
@media (min-width: 320px) and (max-width: 480px) {

   /*Aquí van las propiedades y valores según el dispositivo*/

    .navegador .containersito .item{
        font-size:0em;
    }

    .navegador .logo{
        width: 50px;
    }

    .navegador .boton {
        font-size:.8em;
    }
    .container_marca .explicacion h1{
        font-size: 2em;
    }

    .container_marca .explicacion p {
        font-size: .8em;
    }

    .container_marca {
        padding: 3em 2em;  
        flex-direction:column
    }

    .container_marca .logo{
        width: 220px;
        align-self: center;
        padding: 1em;
    }


    /*colores*/

    .container_colores {
        padding: .3em; 
    }

    .container_colores .title{
        font-size: 1em;
        padding-left:1em;
    }
    .container_colores .contenedor__bebe-uno {
    flex-basis: 100%;
    }

    .container_colores .contenedor__bebe-dos {
        flex-basis: 100%;
    }

    .container_colores .contenedor__bebe-tres {
    flex-basis: 100%;
    }

    .container_colores .contenedor__bebe-cuatro {
        flex-basis: 100%;
    }


    .container_colores .contenedor__bebe-cinco {
        flex-basis: 100%;
    }

    .container_colores .contenedor__bebe-seis {
        flex-basis: 100%;
    }


    /*footer */
    .footer  {
        padding:  1.5em;
        }

    .footer h3{   
        margin-bottom: 1em;
        font-size: 1.3em;
        margin-right: 2em;
        }
        .footer .redess {
            margin-bottom: 1em;
            font-size: 1.3em;
        }
        
        .footer h4{
            margin-right:4em;
            margin-top: 3em;
            font-size: .8em;
        }

        .footer .item a{
            font-size: .8em;
        }  


        .container2 .footer_uno{
            display: flex;
            justify-content: flex-star;
            flex-wrap: wrap;
            margin-top: 2em;
        }

        .container2 .footer_dos .logo_footer{
            width: 70px;
        }

        .container2 .footer_dos .registro a{
            padding: .5em; 
            font-size:.9em;
        }

    }

        .container2 .footer_uno{
            display: flex;
            justify-content: flex-star;
            flex-wrap: wrap;
            margin-top: 2em;
        }
